<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link rel="stylesheet" href="../../static/css/public/footer.css">
    <link rel="stylesheet" href="../../static/css/public/public.css">
    <script src="https://kit.fontawesome.com/3d4b55021f.js" crossorigin="anonymous"></script>

</head>
<body>
    <footer th:fragment="footer">
        <main id="footer-section">
            <section id="first-footer-section">
                <section id="list-section">
                    <div>
                        <a href="">중고거래</a>
                        <a href="">동네업체</a>
                        <a href="">당근알바</a>
                        <a href="">부동산</a>
                        <a href="">중고차 직거래</a>
                    </div>
                    <div>
                        <a href="">당근비즈니스</a>
                        <a href="">채팅하기</a>
                    </div>
                    <div>
                        <a href="">자주 묻는 질문</a>
                        <a href="">회사 소개</a>
                        <a href="">인재 채용</a>
                    </div>
                </section>
            </section>
            <section id="second-footer-section">
                <section>
                    <div id="footer-content-section">
                        <span>대표 김용현, 황도연 | 사업자번호 375-87-00088</span>
                        <span>직업정보제공사업 신고번호 J1200020200016</span>
                        <span>통신판매업 신고번호 2021-서울서초-2875</span>
                        <span>주소 서울특별시 구로구 디지털로 300, 10층 (당근서비스)</span>
                        <span>전화 1544-9796 | 고객문의 cs@daangnservice.com</span>
                    </div>
                    <div id="footer-logo-section">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </section>
                <section id="footer-policy-section">
                    <div>
                        <a href="">제휴 문의</a>
                        <a href="">광고 문의</a>
                        <a href="">PR 문의</a>
                        <a href="">IR 문의</a>
                    </div>
                    <div>
                        <a href="">이용약관</a>
                        <a href="">개인정보처리방침</a>
                        <a href="">운영정책</a>
                        <a href="">위치기반서비스 이용야관</a>
                        <a href="">이용자보호 비전과 계획</a>
                        <a href="">청소년보호정책</a>
                    </div>
                </section>
            </section>
        </main>
    </footer>
</body>
</html>