<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangeun.mapper.ChatMapper">

    <resultMap id="getUserProfile" type="ChatDTO" autoMapping="true">
        <id property="boardNo" column="boardNo"/>
        <association javaType="UserDTO" property="userDTO" autoMapping="true" resultMap="com.dangeun.mapper.UserMapper.getUserProfile">
            <id property="email" column="email"/>
        </association>
    </resultMap>


    <select id="selectAllChatRoomInfo" resultType="ChatDTO" resultMap="getUserProfile">
        SELECT * FROM `chat_room` CR
            INNER JOIN `user` U
            ON CR.chat_user_id = U.email
        WHERE my_id = #{myId}
    </select>

    <select id="selectChatRoom" resultType="ChatDTO">
        SELECT * FROM `chat_room`
        WHERE board_no = #{boardNo}
    </select>

    <insert id="insertInfoByChatRoom">
        INSERT INTO `chat_room`
        VALUES
        (NULL, #{boardNo}, #{myId}, #{chatUserId})
    </insert>




</mapper>