<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangeun.mapper.UserMapper">

    <resultMap id="getUserProfile" type="UserDTO" autoMapping="true">
        <id property="email" column="email"/>
        <association javaType="FileDTO" property="profileImage">
            <id property="data" column="profileImage"/>
        </association>
    </resultMap>

    <select id="SelectUserById" resultType="com.dangeun.dto.UserDTO" resultMap="getUserProfile">
        SELECT * FROM `user` WHERE email = #{id}
    </select>

    <select id="selectChatRoomUserInfo" resultType="UserDTO" resultMap="getUserProfile">
        SELECT * FROM `user` WHERE email = #{email}
    </select>

   <select id="selectUserByName" resultType="UserDTO" resultMap="getUserProfile">
       SELECT * FROM `user`
       WHERE name = #{name}
   </select>

    <select id="selectCustomUserById" resultType="CustomUserDTO">
        SELECT * FROM `custom_user` WHERE id = #{id}
    </select>

    <insert id="insertUser">
        INSERT INTO `user`
        VALUES
        (#{email}, #{password}, #{name}, #{nickname}, #{address}, #{profileImage.data})
    </insert>

    <insert id="insertSocialUser">
        INSERT INTO `custom_user`
        VALUES
        (#{id}, #{name}, #{email}, #{nickname}, #{profileImageUrl})
    </insert>


</mapper>