<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/chatLayout}"
>
<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <link rel="stylesheet" href="../static/css/chat.css" th:href="@{/css/chat.css}">
    <link rel="stylesheet" href="../static/css/public/public.css" th:href="@{/css/public/public.css}">
    <script src="https://kit.fontawesome.com/3d4b55021f.js" crossorigin="anonymous"></script>
</head>
<body>

    <main layout:fragment="chat">
        <section id="user-icon-section">
            <button>
                <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
            </button>
        </section>
        <section id="short-chat-section">
            <section id="nickname-section">
                <b>닉네임</b>
            </section>
            <section>
                <ul id="short-chat-box" class="scroll">
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                        </div>
                        <div>
                            <div>
                                <b>닉네임</b>
                                <span>시간</span>
                            </div>
                            <span>채팅내용 아무거나</span>
                        </div>
                    </li>

                </ul>
                <section id="question-section">
                    <a href="">
                        <span>자주 묻는 질문</span>
                        <div>
                            <i class="fa-solid fa-question"></i>
                        </div>
                    </a>
                </section>
            </section>
        </section>
        <section id="chat-section">
            <section id="chat-nickname-section">
                <div>
                    <div>
                        <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                    </div>
                    <span>닉네임</span>
                </div>
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </section>
            <section id="chat-area" class="scroll">
                <div class="date-section">
                    <span>날짜/시간</span>
                </div>
                <div class="my-chat">
                    <div class="profile">
                        <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                    </div>
                    <div class="message">나는 지금 아무말이나 하고있는데 너는 지금 완전 다른짓을 하고 있구나 내말에 집중해주지 않을래</div>
                    <span>날짜/시간</span>
                </div>
                <div class="opponent-chat">
                    <span>날짜/시간</span>
                    <div class="message">너도 지금 아무말이나 하고있으면서 나는 왜 아무말이나 하면 안된다는 거니 그건 궤변이야 나에게도 아무말을 할 수 있는 기회를 줘</div>
                    <div class="profile">
                        <img alt="또또" src="https://d1unjqcospf8gs.cloudfront.net/assets/users/default_profile_80-c649f052a34ebc4eee35048815d8e4f73061bf74552558bb70e07133f25524f9.png">
                    </div>
                </div>
            </section>
            <section id="chat-input-section">
                <div>
                    <input type="text">
                    <button>보내기</button>
                </div>
            </section>
        </section>
    </main>
</body>
</html>